<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="styling/about.css">
</head>
<body>
    <header>
        <h1>About Page</h1>
      </header>
      <main>
        <section>
          <h2>Developed by Chinmay Raj</h2>
          <p>Welcome to the about page for this app. I'm Chinmay Raj and I developed this app to showcase my skills and experience in app development using electron.js framework. I hope you find the content useful and informative.</p>
        </section>
        <section>
          <h2>Version: 1.0</h2>
          <p>This app is currently running version 1.0. We are always working to improve our app, so please check back often for updates and new features. Currently you can just send content to a specific webhook on discord using the URL. Embed features are coming soon!</p>
        </section>
      </main>
</body>
</html>