<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling/index.css">
    <script src="js/script.js" defer></script>
    <title>Discord Integrater</title>
</head>
<body>
    <div class="form-container">
		<form id="token-form" action="#" method="post">
			<h1>Host A Bot - Built In Commands - Fully Ready</h1>
			<h3>All you have to do is fill in the following fields and you'll have yourself your own Discord Bot!</h3>
			<label for="token">Bot Token:</label>
			<input type="text" id="token" name="token" required>
	  
			<label for="clientid">Client ID:</label>
			<input type="text" id="clientid" name="clientid" required>

			<label for="mongo">Mongo DB URL:</label>
			<input type="text" id="mongo" name="mongo" required>

			<label for="status">Bot Status: (Optional)</label>
			<input type="text" id="status" name="status">
	  
			<input type="submit" value="Get Started">
		  </form>

		<div class="additional-fields">
			<h1 id="ttitle"></h1>
			<!-- <label for="name">Name:</label><br>
			<input type="text" id="name" name="name" placeholder="Enter name"><br>

			<label for="email">Email:</label><br>
			<input type="text" id="email" name="email" placeholder="Enter email"><br> -->
		</div>
	</div>

</body>
</html>