<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="https://i.ibb.co/P1pFxWd/giphy.gif">
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Webhook Sender</title>
    <link rel="stylesheet" href="styling/webhook.css">
    <script src="js/webhook.js" defer></script>
</head>
<body>
    <h1>Send A Webhook</h1>
    <form action="#" method="post">
      <label for="webhook-url">Webhook URL:</label>
      <input type="text" id="webhook-url" name="webhook-url" required>

      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>

      <label for="color">Color:</label>
      <input type="color" id="color" name="color" required>

      <label for="file">Image URL: (Optional)</label>
      <input type="text" id="file" name="file">
      
      <label for="content">Description:</label>
      <textarea id="content" name="content" required></textarea>

      <input type="submit" value="Submit">
    </form>
</body>
</html>